* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    min-width: 118px;
    line-height: 50px;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: #fffcf4;
    padding-top: 30px;
}

.header .content {
}

.header .body {
    display: flex;
    align-items: center;
    padding: 6px 0;
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -30px;
}

.header .nav {
    display: flex;
    margin-left: auto;
}

.header li.active {
    position: relative;
}

.header .nav a:hover,
.header li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header li.active::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    left: 21px;
    bottom: -2px;
}

.header .nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.header .btn {
    min-width: 144px;
    margin-left: 49px;
}
